In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.enableHiveSupport().getOrCreate()

In [2]:
spark

In [3]:
df = spark.read.csv("s3a://delta-lake/results.csv",header=True)

In [4]:
df.show()

+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
|      date|   home_teamName|away_teamName|home_scoreHome|away_scoreAway|tournamentName| cityCity|     countryCountry|neutralTRUE|
+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
|1872-11-30|        Scotland|      England|             0|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1873-03-08|         England|     Scotland|             4|             2|      Friendly|   London|            England|      FALSE|
|1874-03-07|        Scotland|      England|             2|             1|      Friendly|  Glasgow|           Scotland|      FALSE|
|1875-03-06|         England|     Scotland|             2|             2|      Friendly|   London|            England|      FALSE|
|1876-03-04|        Scotland|      England|             3|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1876-03-25|        Scotland|        Wales|             4|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1877-03-03|         England|     Scotland|             1|             3|      Friendly|   London|            England|      FALSE|
|1877-03-05|           Wales|     Scotland|             0|             2|      Friendly|  Wrexham|              Wales|      FALSE|
|1878-03-02|        Scotland|      England|             7|             2|      Friendly|  Glasgow|           Scotland|      FALSE|
|1878-03-23|        Scotland|        Wales|             9|             0|      Friendly|  Glasgow|           Scotland|      FALSE|
|1879-01-18|         England|        Wales|             2|             1|      Friendly|   London|            England|      FALSE|
|1879-04-05|         England|     Scotland|             5|             4|      Friendly|   London|            England|      FALSE|
|1879-04-07|           Wales|     Scotland|             0|             3|      Friendly|  Wrexham|              Wales|      FALSE|
|1880-03-13|        Scotland|      England|             5|             4|      Friendly|  Glasgow|           Scotland|      FALSE|
|1880-03-15|           Wales|      England|             2|             3|      Friendly|  Wrexham|              Wales|      FALSE|
|1880-03-27|        Scotland|        Wales|             5|             1|      Friendly|  Glasgow|           Scotland|      FALSE|
|1881-02-26|         England|        Wales|             0|             1|      Friendly|Blackburn|            England|      FALSE|
|1881-03-12|         England|     Scotland|             1|             6|      Friendly|   London|            England|      FALSE|
|1881-03-14|           Wales|     Scotland|             1|             5|      Friendly|  Wrexham|              Wales|      FALSE|
|1882-02-18|Northern Ireland|      England|             0|            13|      Friendly|  Belfast|Republic of Ireland|      FALSE|
+----------+----------------+-------------+--------------+--------------+--------------+---------+-------------------+-----------+
only showing top 20 rows

In [6]:
df.write.json("s3a://tmp/json")

In [3]:
spark.sql('show databases').show()

+---------+
|namespace|
+---------+
|  default|
| myschema|
+---------+

In [4]:
%%sparksql

UsageError: Cell magic `%%sparksql` not found.